= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      h2 = "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      ul
        - @article.errors.full_messages.each do |message|
          li = message
  .field
    = f.label "Заголовок"
    br
    = f.text_field :title
  .field
    = f.label "Описание"
    br
    = f.text_area :preview
  .field
    = f.label "Текст"
    br
    = f.text_area :text
  .field
    = f.label "Подпись автора"
    br
    = f.text_field :author
  = f.submit "Создать статью"
