article.article

  // кнопки редактировать/удалить
  - if user_signed_in?
    div#edit
      = link_to edit_article_path(@article)
        = image_tag 'glyphicons-31-pencil.png'

      = link_to article_path(@article),data: {:confirm => 'Вы уверены, что хотите удалить статью?'}, method: 'delete'
        = image_tag 'glyphicons-208-remove-2.png'

  // статья
  h1 #{@article.title}
  div#preview
    = markdown(@article.preview)
  = markdown(@article.text)
  aside
    = @article.author

= image_tag 'border-botgray.png'

// комментарии
div id="disqus_thread"
script type="text/javascript"
    |var disqus_shortname = 'hitonplatona';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
noscript
  |Please enable JavaScript to view the 
  a href="https://disqus.com/?ref_noscript" rel="nofollow" comments powered by Disqus.

// инициализация вк
script(language='javascript')
  |VK.init({apiId: 4900168, onlyWidgets: true});
  |VK.Widgets.Like("vk_like", {type: "button", height: 20});
// инициализация facebook
script
  |
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

