article.article
  p 
    |Если вам понравился наш журнал, если вы ощущаете нехватку философских изданий, если вы хотели бы, чтобы мы развивались и продолжали радовать вас интересными материалами, то вы всегда можете поддержать нашу редакцию:
  br
  br
  iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410013100413762&quickpay=shop&payment-type-choice=on&writer=buyer&targets-hint=&default-sum=350&button-text=03&fio=on&successURL=http%3A%2F%2Fphilochiton.com" width="450" height="194" style="margin-left: 150px;"
