article.article
  p
   |Призрак бродит по Университету — призрак Платона. 
    Многие консервативные силы объединились для священной травли этого призрака.
    Но где же то студенческое объединение, которое бы защитило Платона? Сшило для него Хитон, чтобы Великий вновь обрел плоть?
  p
    |Да! Пора уже студентам-философам нашего университета перед всем миром открыто изложить свои взгляды, свои цели, свои стремления и сказкам о призраке противопоставить хитон смыслов — студенческое издание.     

  p
    |Да! Мы намерены воспеть любовь к философии, привычку к энергии и бесстрашию.
      Мысль, спор и ирония будут основными составляющими наших текстов.
      До сих пор студенческие издания восхваляли задумчивую неподвижность, экстаз и сон. Мы намерены воспеть действие, лихорадочную бессонницу, бег гонщика, прыжок в дальние дали. Мы будем воспевать студенчество, возбужденное работой; мы будем воспевать многоцветные, многозвучные, многозначные диспуты на кухнях общежитий и в коридорах Университета. 
  p
    |Да! Мы дадим слово ангелоголовым смельчакам, которые разглядели древних богов, придумывая заголовок для своей курсовой работы.
  p
    |Да! Мы станем выразителями духа новой казанской философии.
    |Слово тем, кто под самой луной обнажил свой разум перед небесами и увидел призрак того самого Платона, дрожащего на крышах высоких многоквартирных светил. 

  p
    |Мы дадим им слово.

  p
    |Да! Мы Хитон Платона!
