article.article
  p 
    |Мы хотим дать потенциальным авторам возможность реализовать свою потребность заниматься философией в том жанре, который для них близок и органичен. Если вы способны писать проблемные, аналитические статьи (циклы статей) по проблемам социальной философии, языка, теории познания; о культуре, искусстве, истории, то вы тот, кто нам нужен!

  p
    |Какие существуют параметры текстов?

  p
    |Для нас важна, прежде всего, легкость изложения (без потери качества содержания). Кроме этого, хорошо, если текст отвечает следующим требованиям: неакадемичеость, ироничность, радикальность, философичность, логичность, образность. Материалы не должны содержать пространные размышления, упор делается на аргументированное изложение, доступное, но не поверхностное. Приоритетный жанр — эссе. Публикации должны подвигнуть читателя на последующее размышление, оставить после прочтения вопросы. Объем текста — до 11000 знаков с пробелами (если вы не умещаетесь в заданный объем, то всегда можно превратить статью в цикл статей).
  
  p
    |И да, у нас существует запрет на использование нецензурной лексики, а также на пропаганду любых политических и религиозных взглядов.

  p Чего нельзя допускать?

  p
    |Орфографических, пунктуационных и стилистических ошибок.
      Иллюстраций плохого качества, фотографий с указанием ссылок на источники.
      Копирования текстов из других источников. Даже те тексты, которые написаны на основе других источников, должны быть авторскими и индивидуальными.
      Нельзя использовать недостоверную, не проверенную информацию, способную ввести в заблуждение читательскую аудиторию.

  p Куда отправлять материалы?

  p 
    |На нашу почту - 
    a(href="mailto:philochiton@gmail.com") philochiton@gmail.com
