@import "markitup/skins/markitup/style";
@import "markitup/sets/markdown/style";

@font-face{
	font-family: FakedesOutline;
	src: asset-url('FakedesOutline.otf');
}

@font-face{
	font-family: FiraSansOT-Medium;
	src: asset-url('FiraSansOT-Medium.otf');
}

@font-face{
	font-family: FiraSansOT-Regular;
	src: asset-url('FiraSansOT-Regular.otf');
}
	
@font-face{
	font-family: FiraSansOT-Light;
	src: asset-url('FiraSansOT-Light.otf');
}
	
body{
	background: #40938c;
	padding: 0;
	margin: 0;
}

section.wrapper{
	background: #eff4f4;
	width: 1058px;
	margin: 0 auto;
	padding: 70px 66px 15px 62px;
}

header{
  position: relative;

	>a >img{
		display: block;
		margin: 0 auto;
		padding: 0;
  }

	nav{
		width: 830px;
		margin: 0 auto;
		padding: 24px 0px 0px 0px;
		
		>img{
			margin: 0 auto;
    }

		ul{
			margin: 0 auto;
			padding: 46px 0px;
			
			li{
				margin-right: 10px;
				display: inline;
				
				a{
					font-family: FiraSansOT-Medium;
					font-size: 33.33px;
					color: #203130;
					text-decoration: none;
        }

        img{
          position: relative;
          top: 5px;
        }
      }
    }
  }
}

section{
	padding: 0;
  margin: 0 auto;
  width: 903px;
	
	article{
		position: relative;
		border-width: 33px 35px 31px 37px;
		border-style: solid;
		border-color: #b1b9b8;
		width: 772px;
		margin: 84px auto 66px auto;
		padding: 30px 33px 35px 27px;
		font-size: 18pt;
		
    img{
      width: 772px;
      height: 300px;
      margin: 0 auto;
    }
    h1{
        text-align: center;
        font-size: 18pt;
        font-family: FiraSansOT-Medium;
        margin: 0;
      }
    a{
      color: #203130;
      text-decoration: none;
      
    }

		p{
			font-family: FiraSansOT-Light;
			font-size: 12pt;
    }

    #preview{
      font-family: FiraSansOT-Light;
		  font-size: 12pt;
      text-align: center;
    }
  }

	article.article{
		position: relative;
		border-width: 10px;
		border-style: solid;
		border-color: #b1b9b8;
		width: 740px;
		margin: 42px auto 10px auto;
		padding: 30px 67px 25px 76px;
		font-size: 27.77px;
		font-family: FiraSansOT-Light;
		color: #203130;
  
		h1{
			padding: 0;
			margin: 0;
			font-size: 30.54px;
			color: #203130;
    }
		
		aside{
			text-align: right;
			color: #203130;
    }

    img{
      max-width: 740px;
      height: auto;
    }

    #edit{
      float: right;
    
      img{
        height: 18px;
        margin: 5px;
      }
    }
  }

	article.article:after{
			background: none;
    }
		
	article:after{
		content: " ";
		height: 25px;
		width: 84px;
		font-size: 25pt;
		background: asset-url('article-sep.png');
		display: block;
		position: absolute;
		left: 369px;
  }

	hr{
		position: relative;
		margin: 62px auto;
		width: 904px;
		border: 2px solid #203130;
  }

	hr:last-child:after{
		content: " ";
		position: absolute;
		left: 413px;
		top: 10px;
		width: 80px;
		height: 45px;
		background: asset-url('last-sep.png');
  }

	>img{

		display: block;
		margin: 0 auto;
  }
}

footer{
	height: 215px;
	width: 612px;
	margin: 47px auto 70px auto;
	background: #b1b9b8;
	
	a{
		text-decoration: none;
  }

	h2{
		color: #fff;
		font-size: 37px;
		font-family: FiraSansOT-Regular;
		text-align: center;
		margin: 0;
		padding: 0;
		padding-top: 10px;
  }

	h3{
		padding: 0;
		margin: 0;
		font-family: FakedesOutline;
    font-size: 67.67px;
		text-align: center;
		line-height: 65px;
		color: #203130;
  }
		
	#share{
		position: relative;
		right: 250px;
  
		img{
			margin-right: 6px;
    }
  }
}
footer.article{
	width: 100%;
	height: 62.88px;
	padding: 0px 0px 0px 20px;
	
	a{
		margin-right: 12px;
  }

	#share{
		right: 0;
  }

	#donate{
		float: right;
		padding-top: 5px;
		margin-right: 63.19px;
		color: #203130;
		font-size: 33.32px;
		font-family: FakedesOutline;
  }
}

#disqus_thread{
  margin-top: 50px;
}

.field{
  margin-bottom: 20px;

  label{
    font-size: 18px;
    font-weight: bold;
  }
}

h1.title{
  font-family: FiraSansOT-Medium;
  font-size: 24px;
  text-align: left;
}

.pagination{
  display: none;
}

aside#like{
  width: 300px;
  margin: 0 auto;

  *{
    display: inline;
  }
}
