h1 Listing subscribes

table
  thead
    tr
      th Email
      th
      th
      th

  tbody
    - @subscribes.each do |subscribe|
      tr
        td = subscribe.email
        td = link_to 'Show', subscribe
        td = link_to 'Edit', edit_subscribe_path(subscribe)
        td = link_to 'Destroy', subscribe, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Subscribe', new_subscribe_path
