header
  a(href="/")
    = image_tag 'title.png'
  nav
    = image_tag 'border-top.png'
    ul
      li 
        = link_to 'все статьи', articles_path
      li
        = image_tag 'sep.png'
      li
        = link_to 'эйдос', 'http://vk.com/eidos_kfu'
      li
        = image_tag 'sep.png'
      li 
        = link_to 'манифест', manifest_path
      li
        = image_tag 'sep.png'
      li 
        = link_to 'стать автором', new_author_path
    = image_tag 'border-bot.png'

