doctype html
head
  title Хитон Платона
  meta(charset='utf-8')
  script type="text/javascript" src="//vk.com/js/api/openapi.js?116"
body
  section.wrapper
    = render 'layouts/header.html.slim'

    section
      = yield

    - if request.original_fullpath == '/'
      footer
        h2 Понравилось?
        = link_to donate_path
          h3
            |Поблагодари редакцию!
        div(id='share')
          a(href='http://www.facebook.com/sharer.php?u=#{request.original_url}&t=MY_TITLE&src=sp"' target="_blank")
            = image_tag 'fb.png'
          a(href='http://vk.com/share.php?url=#{request.original_url}' target="_blank")
            = image_tag 'vk.png'
    - else
      footer.article
        a(href='http://www.facebook.com/sharer.php?u=#{request.original_url}&t=MY_TITLE&src=sp"' target="_blank")
          = image_tag 'fbmin.png'
        a(href='http://vk.com/share.php?url=#{request.original_url}' target="_blank")
          = image_tag 'vkmin.png'
        = link_to donate_path, id: 'donate'
          |Поддержи проект

  a href="https://metrika.yandex.ru/stat/?id=30087979&amp;from=informer" target="_blank" rel="nofollow"
  img src="//bs.yandex.ru/informer/30087979/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:30087979,lang:'ru'});return false}catch(e){}"

  script type="text/javascript"
    |
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter30087979 = new Ya.Metrika({id:30087979,
                          trackLinks:true});
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
 
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true 
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
